In [1]:
%matplotlib inline
import matplotlib as mlp
mlp.rcParams['figure.dpi'] = 200

# diasbling warning messages
import warnings
warnings.filterwarnings("ignore")

# importing key libraries
import pandas as pd
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:20,.2f}'.format
import numpy as np

# importing wrangle/acquire module
import wrangle
from wrangle import get_zillow_dataset, \
                    null_df, \
                    drop_nulls, \
                    clean_zillow_dataset, \
                    train_validate_test_split

# importing data visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set()

# sklearn data science library
from sklearn.impute import KNNImputer
from sklearn.impute import MissingIndicator
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

### **``Clustering Module: Exploratory Analysis Exercises``**


Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. 

<u>**``Example Questions (place holder):``**</u>

1. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

<br></br>
*Answer these questions through a mix of statistical tests and visualizations.*

**``Bonus:``**

* Compute the mean(logerror) by zipcode and the overall mean(logerror). Write a loop that will run a t-test between the overall mean and the mean for each zip code. 

* We want to identify the zip codes where the error is significantly higher or lower than the expected error.

----

In [2]:
# importing zillow dataset

df = get_zillow_dataset()
df.shape

(52319, 68)

In [3]:
# cleaning dataset for feature/row null % > 80%
# df = drop_nulls(df, .8, .8)

df = clean_zillow_dataset(df)
df.shape

dataframe shape: (52311, 16)

(52311, 16)

In [4]:
df.head(5)

,bathroom_count,bedroom_count,living_sq_feet,county_by_fips,land_assessed_value,latitude,logerror,longitude,property_sq_feet,county_zoning_code,blockgroup_assignment,home_assessed_value,taxamount,home_value,transaction_date,year_built
0,3.50,4.00,"3,100.00",Orange County,"537,569.00","33,634,931.00",0.03,"-117,869,207.00","4,506.00",122,"60,590,630.07","485,713.00","11,013.72","1,023,282.00",2017-01-01,"1,998.00"
1,1.00,2.00,"1,465.00",Ventura County,"376,000.00","34,449,266.00",0.06,"-119,281,531.00","12,647.00",1110,"61,110,010.02","88,000.00","5,672.48","464,000.00",2017-01-01,"1,967.00"
2,2.00,3.00,"1,243.00",Orange County,"479,489.00","33,886,168.00",0.01,"-117,823,170.00","8,432.00",122,"60,590,218.02","85,289.00","6,488.30","564,778.00",2017-01-01,"1,962.00"
3,3.00,4.00,"2,376.00",LA County,"36,225.00","34,245,180.00",-0.10,"-118,240,722.00","13,038.00",0101,"60,373,001.00","108,918.00","1,777.51","145,143.00",2017-01-01,"1,970.00"
4,3.00,4.00,"2,962.00",LA County,"496,619.00","34,145,202.00",-0.00,"-118,179,824.00","63,000.00",0101,"60,374,608.00","276,684.00","9,516.26","773,303.00",2017-01-01,"1,950.00"

In [5]:
df = wrangle.clean_months(df)
df.head()

,bathroom_count,bedroom_count,living_sq_feet,county_by_fips,land_assessed_value,latitude,logerror,longitude,property_sq_feet,county_zoning_code,blockgroup_assignment,home_assessed_value,taxamount,home_value,year_built,transaction_month
0,3.50,4.00,"3,100.00",Orange County,"537,569.00","33,634,931.00",0.03,"-117,869,207.00","4,506.00",122,"60,590,630.07","485,713.00","11,013.72","1,023,282.00","1,998.00",January
1,1.00,2.00,"1,465.00",Ventura County,"376,000.00","34,449,266.00",0.06,"-119,281,531.00","12,647.00",1110,"61,110,010.02","88,000.00","5,672.48","464,000.00","1,967.00",January
2,2.00,3.00,"1,243.00",Orange County,"479,489.00","33,886,168.00",0.01,"-117,823,170.00","8,432.00",122,"60,590,218.02","85,289.00","6,488.30","564,778.00","1,962.00",January
3,3.00,4.00,"2,376.00",LA County,"36,225.00","34,245,180.00",-0.10,"-118,240,722.00","13,038.00",0101,"60,373,001.00","108,918.00","1,777.51","145,143.00","1,970.00",January
4,3.00,4.00,"2,962.00",LA County,"496,619.00","34,145,202.00",-0.00,"-118,179,824.00","63,000.00",0101,"60,374,608.00","276,684.00","9,516.26","773,303.00","1,950.00",January

In [6]:
# creating a new column for total age of home

df = wrangle.age_of_homes(df)
df["home_age"].head(20)

0                   24.00
1                   55.00
2                   60.00
3                   52.00
4                   72.00
5                  100.00
6                   52.00
7                   23.00
8                   42.00
9                   18.00
10                  41.00
11                  83.00
12                  44.00
13                  24.00
14                 114.00
15                  78.00
16                  50.00
17                  50.00
18                 102.00
19                  55.00
Name: home_age, dtype: float64

In [7]:
# remaining nulls and percentage of feature

remaining_nulls = null_df(df)
remaining_nulls

                       Total Null       Feature Null %
property_sq_feet              360                 0.01
year_built                    106                 0.00
home_age                      106                 0.00
home_assessed_value            79                 0.00
living_sq_feet                 73                 0.00
taxamount                       4                 0.00
land_assessed_value             1                 0.00
home_value                      1                 0.00
county_by_fips                  0                 0.00
latitude                        0                 0.00
logerror                        0                 0.00
longitude                       0                 0.00
bedroom_count                   0                 0.00
county_zoning_code              0                 0.00
blockgroup_assignment           0                 0.00
transaction_month               0                 0.00
bathroom_count                  0                 0.00

In [8]:
# splitting the dataset to 1. fill-in remaining nulls and 2. determine outlier cutoffs

train, validate, test = train_validate_test_split(df)

train shape: (29293, 17)
validate shape: (12555, 17)
test shape: (10463, 17)

In [9]:
# 2nd split: splitting larger datasets into x and y variables

X_train = train.drop(columns = "logerror")
y_train = train['logerror']

X_validate = validate.drop(columns = "logerror")
y_validate = validate['logerror']

X_test = test.drop(columns = "logerror")
y_test = test['logerror']

In [10]:
# viewing X_train variables/features

X_train.columns.sort_values().tolist()

['bathroom_count',
 'bedroom_count',
 'blockgroup_assignment',
 'county_by_fips',
 'county_zoning_code',
 'home_age',
 'home_assessed_value',
 'home_value',
 'land_assessed_value',
 'latitude',
 'living_sq_feet',
 'longitude',
 'property_sq_feet',
 'taxamount',
 'transaction_month',
 'year_built']

In [11]:
# checking nulls in X_train dataset

nulls_in_X = null_df(X_train)
nulls_in_X

                       Total Null       Feature Null %
property_sq_feet              208                 0.01
year_built                     64                 0.00
home_age                       64                 0.00
living_sq_feet                 45                 0.00
home_assessed_value            41                 0.00
taxamount                       1                 0.00
bathroom_count                  0                 0.00
bedroom_count                   0                 0.00
county_by_fips                  0                 0.00
land_assessed_value             0                 0.00
latitude                        0                 0.00
longitude                       0                 0.00
county_zoning_code              0                 0.00
blockgroup_assignment           0                 0.00
home_value                      0                 0.00
transaction_month               0                 0.00

In [12]:

X_train.describe().T.round(3)

,count,mean,std,min,25%,50%,75%,max
bathroom_count,"29,293.00",2.29,1.02,0.00,2.00,2.00,3.00,18.00
bedroom_count,"29,293.00",3.30,0.95,0.00,3.00,3.00,4.00,14.00
living_sq_feet,"29,248.00","1,919.40",997.24,128.00,"1,267.75","1,657.00","2,306.00","18,654.00"
land_assessed_value,"29,293.00","332,028.08","590,451.92",161.00,"76,690.00","218,233.00","407,884.00","48,952,198.00"
latitude,"29,293.00","34,023,098.28","273,169.58","33,340,620.00","33,828,615.00","34,027,079.00","34,187,915.00","34,812,397.00"
longitude,"29,293.00","-118,195,165.10","357,197.23","-119,475,416.00","-118,402,034.00","-118,154,196.00","-117,929,756.00","-117,555,373.00"
property_sq_feet,"29,085.00","11,665.61","96,680.71",236.00,"5,581.00","6,855.00","8,770.00","6,971,010.00"
blockgroup_assignment,"29,293.00","60,494,603.46","209,491.56","60,371,011.10","60,374,012.01","60,376,201.01","60,590,423.24","61,110,091.00"
home_assessed_value,"29,252.00","196,273.62","255,184.40",129.00,"77,199.50","131,310.50","225,871.00","7,893,568.00"
taxamount,"29,292.00","6,443.57","8,978.74",49.18,"2,678.15","4,645.71","7,352.78","586,639.30"
home_value,"29,293.00","528,026.99","766,361.87","1,000.00","195,383.00","373,752.00","615,055.00","49,061,236.00"
year_built,"29,229.00","1,963.26",23.11,"1,880.00","1,950.00","1,960.00","1,979.00","2,016.00"
home_age,"29,229.00",58.74,23.11,6.00,43.00,62.00,72.00,142.00

----
### ```determining and handling outliers```

In [13]:
# adding upperbound columns to X_train dataset

# X_train = wrangle.add_upper_outlier_columns(X_train)
# print(X_train.shape)
X_train.head()

,bathroom_count,bedroom_count,living_sq_feet,county_by_fips,land_assessed_value,latitude,longitude,property_sq_feet,county_zoning_code,blockgroup_assignment,home_assessed_value,taxamount,home_value,year_built,transaction_month,home_age
35549,2.00,3.00,"1,244.00",LA County,"26,279.00","34,166,955.00","-118,357,164.00","7,885.00",0100,"60,371,253.10","32,283.00",764.51,"58,562.00","1,943.00",2017-06-30 00:00:00,79.00
18097,3.00,4.00,"2,898.00",LA County,"408,465.00","34,120,410.00","-118,058,997.00","5,468.00",0100,"60,374,318.00","518,378.00","10,802.46","926,843.00","1,993.00",2017-04-17 00:00:00,29.00
18950,1.00,3.00,"1,166.00",LA County,"312,268.00","34,078,141.00","-118,297,087.00","2,002.00",0100,"60,371,926.20","147,520.00","5,518.32","459,788.00","1,922.00",2017-04-20 00:00:00,100.00
36943,1.00,2.00,803.00,LA County,"397,978.00","34,177,765.00","-118,511,941.00","5,610.00",0100,"60,371,390.01","99,494.00","6,099.58","497,472.00","1,949.00",2017-07-07 00:00:00,73.00
52305,2.00,4.00,"2,166.00",LA County,"73,500.00","33,809,933.00","-118,375,646.00","6,143.00",0101,"60,376,513.02","66,047.00","1,770.95","139,547.00","1,954.00",2017-09-19 00:00:00,68.00

In [14]:
# sampling of feature "taxamount" quantiles 

print("Q2 quantile of feature : ", np.quantile(X_train["taxamount"], .50))
print("Q1 quantile of feature : ", np.quantile(X_train["taxamount"], .25))
print("Q3 quantile of feature : ", np.quantile(X_train["taxamount"], .75))
print("100th quantile of feature : ", np.quantile(X_train["taxamount"], .1))

Q2 quantile of feature :  nan
Q1 quantile of feature :  nan
Q3 quantile of feature :  nan
100th quantile of feature :  nan

In [15]:
# detect outliers by looping through columns for values >= 1

uppercap_df = []

for col in X_train.select_dtypes("number"):
    
    k = 1.5
    
    # determing 1st and 3rd quartile
    q1, q3 = X_train[col].quantile([.25, 0.75])

    # calculate interquartile range
    iqr = q3 - q1

    # set feature/data upperbound limit
    upper_bound = q3 + k * iqr
    
    # boolean mask to determine total number of outliers
    df = X_train[X_train[col] > upper_bound]
    
    if df.shape[0] > 0:
        
        output = {
            "Feature": col, \
            "Upper_Bound": upper_bound, \
            "Total Outliers": df.shape[0]
            }
    
        uppercap_df.append(output)
    
df = pd.DataFrame(uppercap_df).sort_values(by = "Total Outliers", ascending = False, ).reset_index(drop = True)
df

                  Feature          Upper_Bound  Total Outliers
0        property_sq_feet            13,553.50            3111
1   blockgroup_assignment        60,915,040.08            2481
2     home_assessed_value           448,878.25            2174
3               taxamount            14,364.72            2131
4              home_value         1,244,563.00            1978
5     land_assessed_value           904,675.00            1650
6          living_sq_feet             3,863.38            1242
7          bathroom_count                 4.50             877
8           bedroom_count                 5.50             443
9                home_age               115.50             132
10               latitude        34,726,865.00              19

In [16]:
# creating a function to conduct this action in the future

def sum_outliers(df, k = 1.5):
    
    # placeholder for df values
    uppercap_df = []

    for col in df.select_dtypes("number"):

        # determing 1st and 3rd quartile
        q1, q3 = df[col].quantile([.25, 0.75])

        # calculate interquartile range
        iqr = q3 - q1

        # set feature/data upperbound limit
        upper_bound = q3 + k * iqr

        # boolean mask to determine total number of outliers
        mask = df[df[col] > upper_bound]

        if mask.shape[0] > 0:

            output = {
                "Feature": col, \
                "Upper_Bound": upper_bound, \
                "Total Outliers": mask.shape[0]
                }

            uppercap_df.append(output)
    
    new_df = pd.DataFrame(uppercap_df).sort_values(by = "Total Outliers", ascending = False, ).reset_index(drop = True)
    
    return new_df

In [ ]:
# returning the outlier sum dataframe

sum_outliers(X_train)

                  Feature          Upper_Bound  Total Outliers
0        property_sq_feet            13,553.50            3111
1   blockgroup_assignment        60,915,040.08            2481
2     home_assessed_value           448,878.25            2174
3               taxamount            14,364.72            2131
4              home_value         1,244,563.00            1978
5     land_assessed_value           904,675.00            1650
6          living_sq_feet             3,863.38            1242
7          bathroom_count                 4.50             877
8           bedroom_count                 5.50             443
9                home_age               115.50             132
10               latitude        34,726,865.00              19
11            property_id        18,045,085.00               9

In [ ]:
# creating a function to determine outliers based on "iqr" and then capping at upperboud limit

def capp_outliers(df, k = 1.5):
    
    # determining continuous features/columns
    for col in df.select_dtypes("number"):
        # determing 1st and 3rd quartile
        q1, q3 = df[col].quantile([.25, 0.75])
        
        # calculate interquartile range
        iqr = q3 - q1
        
        # set feature/data upperbound limit
        upper_bound = q3 + k * iqr
        
        # cap/convert outliers to upperbound
        df[col] = df[col].apply(lambda x: upper_bound if x > upper_bound else x)
    
        # renaming cols
        df.rename(columns = {col: col + "-capped"}, inplace = True)
        
    # returning the updated dataframe
    return df

In [ ]:
# capping the outliers at feature upper-bound limit

X_train = capp_outliers(X_train)

In [ ]:
# checking the shape

X_train.shape

(29293, 18)

In [ ]:
# checking the head of df

X_train.head()

,bathroom_count-capped,bedroom_count-capped,living_sq_feet-capped,county_by_fips,land_assessed_value-capped,latitude-capped,longitude-capped,property_sq_feet-capped,property_id-capped,county_zoning_code,blockgroup_assignment-capped,home_assessed_value-capped,taxamount-capped,home_value-capped,transaction_date,year_built-capped,transaction_month,home_age-capped
35549,2.00,3.00,"1,244.00",LA County,"26,279.00","34,166,955.00","-118,357,164.00","7,885.00","10,928,726.00",0100,"60,371,253.10","32,283.00",764.51,"58,562.00",2017-06-30,"1,943.00",2017-06-30 00:00:00,79.00
18097,3.00,4.00,"2,898.00",LA County,"408,465.00","34,120,410.00","-118,058,997.00","5,468.00","11,925,904.00",0100,"60,374,318.00","448,878.25","10,802.46","926,843.00",2017-04-17,"1,993.00",2017-04-17 00:00:00,29.00
18950,1.00,3.00,"1,166.00",LA County,"312,268.00","34,078,141.00","-118,297,087.00","2,002.00","11,991,988.00",0100,"60,371,926.20","147,520.00","5,518.32","459,788.00",2017-04-20,"1,922.00",2017-04-20 00:00:00,100.00
36943,1.00,2.00,803.00,LA County,"397,978.00","34,177,765.00","-118,511,941.00","5,610.00","10,850,571.00",0100,"60,371,390.01","99,494.00","6,099.58","497,472.00",2017-07-07,"1,949.00",2017-07-07 00:00:00,73.00
52305,2.00,4.00,"2,166.00",LA County,"73,500.00","33,809,933.00","-118,375,646.00","6,143.00","12,669,704.00",0101,"60,376,513.02","66,047.00","1,770.95","139,547.00",2017-09-19,"1,954.00",2017-09-19 00:00:00,68.00

----

### ```identifying and handling null/missing values```

In [ ]:
# classifying features/varibles by data type (discrete/continuous)

cat_lst = []
num_lst = []

for col in list(X_train.columns):
    if X_train[col].dtype == "int" or X_train[col].dtype == "float":
        num_lst.append(col)
    else:
        cat_lst.append(col)

print(f'Discrete Features:\n{cat_lst}')
print()
print(f'Continuous Features:\n{num_lst}')

Discrete Features:
['county_by_fips', 'county_zoning_code', 'transaction_date', 'transaction_month']

Continuous Features:
['bathroom_count-capped', 'bedroom_count-capped', 'living_sq_feet-capped', 'land_assessed_value-capped', 'latitude-capped', 'longitude-capped', 'property_sq_feet-capped', 'property_id-capped', 'blockgroup_assignment-capped', 'home_assessed_value-capped', 'taxamount-capped', 'home_value-capped', 'year_built-capped', 'home_age-capped']

In [ ]:
# replacing null instances with "np.NaN" for better use of sklearn iterative imputer

X_train = X_train.replace('?', np.NaN)
X_train.shape

(29293, 18)

In [ ]:
# using sklearn's iterative imputer to determine/fill-in remaining missing values

numeric_cols = X_train[num_lst]

impute_it = IterativeImputer(missing_values = np.NaN, skip_complete = True, random_state = 123)
imputed_df = impute_it.fit_transform(numeric_cols)

In [ ]:
# checking there are no nulls in inputed dataframe

pd.DataFrame(imputed_df, columns = num_lst).isnull().sum()

bathroom_count-capped           0
bedroom_count-capped            0
living_sq_feet-capped           0
land_assessed_value-capped      0
latitude-capped                 0
longitude-capped                0
property_sq_feet-capped         0
property_id-capped              0
blockgroup_assignment-capped    0
home_assessed_value-capped      0
taxamount-capped                0
home_value-capped               0
year_built-capped               0
home_age-capped                 0
dtype: int64

In [ ]:
# creating a new df for fill-in missing X_train values

missing_vals = pd.DataFrame(imputed_df, columns = numeric_cols, index = X_train.index)
missing_vals.head()

In [ ]:
# assigning determined inputed values back to dataframe

X_train[cont_lst] = missing_vals
X_train.head()

In [ ]:
# checking the dataframe information

X_train.info()